.vscode
venv
tb/*/dump.fst
tb/*/results.xml
tb/*/modelsim.ini
tb/*/transcript
tb/*/vsim_stacktrace.vstf
tb/*/vsim.wlf
tb/*/wave.do
tb/*/sim_build
tb/*/__pycache__
tb/*/__pycache__/test_bfu_multiplier.cpython-38-pytest-8.3.4.pyc
tb/*/__pycache__/test_bfu_multiplier.cpython-38.pyc
spyglass_reports
sg_shell.log
sg_shell_command.log
tb/tb_bfu_kyber/dump.vcd
.nvim
